/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 0;
    color: #fff;
}

.whitelist {
    background: rgba(255, 255, 255, 0.8); /* White background with opacity */
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
}

h2 {
    margin-top: 0;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.download-btn:hover {
    background-color: #0056b3;
}

/* Background Image Styles */
body {
    background: url('sukuna.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh;
    width: 100vw;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
